<div>

    <section style="padding:20px;box-sizing:border-box">
        <table class="table table-hover">
            <thead>
            <tr>
             <th>Request ID</th>
             <th>Customer Name</th>
             <th>Request Date</th>
             <th>Request Type</th>
             <th>Actions</th>

            </tr>
            <tr ng-repeat="x in customers.reverse()">
                <td>{{x.request_id}}</td>
                <td>{{x.customer_name}}</td>
                <td>{{x.request_date}}</td>
                <td>{{x.request_type}}</td>

                <td><button type="button" class="btn btn-success">Approve</button></td>
                <td><button type="button" class="btn btn-danger">Reject</button></td>
            </tr>
        </thead>
        </table>
    </section>
    </div>
